<html>
    <head>
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-3.3.0.min.css
         " rel="stylesheet" type=”text/css” >
         <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-3.3.0.min.css" 
         rel="stylesheet" type=”text/css” >
    </head>
    <body>
        <h1>Strategy: {{strategy.name}}</h1>
        <h2>Symbol: {{strategy.ticker}}</h2>
        {{plots.strategy.div| safe}}
    </body>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.3.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.3.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.3.0.min.js"></script>
    {{plots.strategy.script| safe}}
</html>